<?xml version="1.0"?>
<TetrisSettings>
  <GameSettings>
    <InitialFallSpeed>1</InitialFallSpeed>
    <FallSpeedAcceleration>0.05</FallSpeedAcceleration>
  </GameSettings>
  <GridSettings>
    <GridWidth>7</GridWidth>
    <GridDepth>7</GridDepth>
    <GridHeight>10</GridHeight>
  </GridSettings>
  <ShapesSettings>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>2</Y>
          <Z>0</Z>
        </Block>
      </Blocks>
      <Color>#00EAFF</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>1</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
      </Blocks>
      <Color>#FFFFFF</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>1</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
      </Blocks>
      <Color>#FF7400</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>-1</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>-1</X>
          <Y>1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
      </Blocks>
      <Color>#B200FF</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>1</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>1</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>1</Y>
          <Z>1</Z>
        </Block>
      </Blocks>
      <Color>#0800FF</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>-1</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>1</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>1</Y>
          <Z>1</Z>
        </Block>
      </Blocks>
      <Color>#FF0A00</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>-1</Z>
        </Block>
        <Block>
          <X>1</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
      </Blocks>
      <Color>#FDFF00</Color>
      <Weight>5</Weight>
    </Shape>
    <Shape>
      <Blocks>
        <Block>
          <X>0</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>1</X>
          <Y>0</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>1</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
        <Block>
          <X>0</X>
          <Y>-1</Y>
          <Z>0</Z>
        </Block>
      </Blocks>
      <Color>#57FF00</Color>
      <Weight>5</Weight>
    </Shape>
  </ShapesSettings>
</TetrisSettings>
